/* TODO: Remove this comment and refactor */
/* stylelint-disable */

:root {
  flex: 1 !important;
  width: 300px;
  height: 600px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 19px;
  color: #3700B3;
  text-align: center;

  /* text-shadow: #FC0 1px 0 10px; */
  text-shadow: #0072ff8c 1px 0 24px;
}

.App-intro {
  font-size: large;
  margin: 20px;
}

.rock-salt{
  font-family: 'Rock Salt', cursive !important;

}

.Dialog-header {
  font-size: 16px;
  color: #3700B3;
  text-align: left;
  text-shadow: #0072ff82 1px 0 13px;

  /* text-shadow: #3700B3 1px 0 10px; */
}

.habibi{
font-family: Habibi, serif;
}

.cag{
  font-family: Cagliostro, sans-serif;
}

.neohell{
  font-family: 'GFS Neohellenic', sans-serif;
}

.rancho{
  font-family: Rancho, cursive;
}

ul{
  list-style-type: none;
  padding: 6px;
  margin: 0;
}

li{
  font-size: 14px
}

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

ul{
  padding: 0;
  margin: 0;
}


.footer {
  margin: 9px 20px;
  font-size: 12px;
  color: #777;
}

.open-sans{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-shadow: #352995 0 0 1px;
}